In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('abalone.csv')

In [2]:
data.head()

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [3]:
data['Sex'] = data['Sex'].map(lambda x: 1 if x == 'M' else(-1 if x == 'F' else 0))
data

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,-1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,-1,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,1,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,1,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,-1,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,1,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [4]:
X = data.drop(columns=['Rings'])
y = data['Rings']

In [5]:
X

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight
0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,-1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,-1,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,1,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,1,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,-1,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,1,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [6]:
y

0       15
1        7
2        9
3       10
4        7
        ..
4172    11
4173    10
4174     9
4175    10
4176    12
Name: Rings, Length: 4177, dtype: int64

In [40]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score

kf = KFold(n_splits=5, shuffle=True, random_state=1)
#res = {'n_trees':, 'r2_score':, 'cv_score':}
#res = {'n_trees':[], 'r2_score':[], 'cv_score':[]}
res = {'n_trees':[], 'cv_score':[]}

for i in range(1, 51):
    rf = RandomForestRegressor(n_estimators=i)
    cv = cross_val_score(rf, X, y, cv=kf, scoring='r2').mean()
    rf.fit(X, y)
    pred = rf.predict(X)
#    r2 = r2_score(y, pred)
    res['n_trees'].append(i)
#    res['r2_score'].append(r2)
    res['cv_score'].append(cv)

In [41]:
df = pd.DataFrame.from_dict(res)

In [42]:
df

    n_trees  cv_score
0         1  0.155663
1         2  0.325844
2         3  0.405331
3         4  0.440347
4         5  0.448166
5         6  0.460354
6         7  0.468414
7         8  0.483094
8         9  0.487060
9        10  0.497826
10       11  0.500558
11       12  0.500892
12       13  0.495604
13       14  0.503411
14       15  0.510128
15       16  0.510064
16       17  0.509282
17       18  0.516825
18       19  0.520140
19       20  0.517009
20       21  0.518900
21       22  0.513993
22       23  0.518470
23       24  0.519008
24       25  0.524553
25       26  0.520614
26       27  0.522758
27       28  0.528519
28       29  0.524471
29       30  0.525445
30       31  0.526814
31       32  0.518196
32       33  0.524338
33       34  0.533371
34       35  0.524391
35       36  0.526868
36       37  0.526042
37       38  0.530243
38       39  0.531155
39       40  0.527019
40       41  0.522490
41       42  0.528218
42       43  0.528163
43       44  0.529167
44       45  0.522201
45       46  0.530497
46       47  0.526176
47       48  0.531953
48       49  0.531337
49       50  0.527412

In [43]:
df = df.sort_values(by=['cv_score'], axis=0, ascending=False)
df

    n_trees  cv_score
33       34  0.533371
47       48  0.531953
48       49  0.531337
38       39  0.531155
45       46  0.530497
37       38  0.530243
43       44  0.529167
27       28  0.528519
41       42  0.528218
42       43  0.528163
49       50  0.527412
39       40  0.527019
35       36  0.526868
30       31  0.526814
46       47  0.526176
36       37  0.526042
29       30  0.525445
24       25  0.524553
28       29  0.524471
34       35  0.524391
32       33  0.524338
26       27  0.522758
40       41  0.522490
44       45  0.522201
25       26  0.520614
18       19  0.520140
23       24  0.519008
20       21  0.518900
22       23  0.518470
31       32  0.518196
19       20  0.517009
17       18  0.516825
21       22  0.513993
14       15  0.510128
15       16  0.510064
16       17  0.509282
13       14  0.503411
11       12  0.500892
10       11  0.500558
9        10  0.497826
12       13  0.495604
8         9  0.487060
7         8  0.483094
6         7  0.468414
5         6  0.460354
4         5  0.448166
3         4  0.440347
2         3  0.405331
1         2  0.325844
0         1  0.155663

In [44]:
df.loc[df['cv_score'] >= 0.52]

    n_trees  cv_score
33       34  0.533371
47       48  0.531953
48       49  0.531337
38       39  0.531155
45       46  0.530497
37       38  0.530243
43       44  0.529167
27       28  0.528519
41       42  0.528218
42       43  0.528163
49       50  0.527412
39       40  0.527019
35       36  0.526868
30       31  0.526814
46       47  0.526176
36       37  0.526042
29       30  0.525445
24       25  0.524553
28       29  0.524471
34       35  0.524391
32       33  0.524338
26       27  0.522758
40       41  0.522490
44       45  0.522201
25       26  0.520614
18       19  0.520140

In [46]:
df2 = df
df2['cv_score'] = df2['cv_score'].apply(lambda x: round(x, 2))
df2.loc[df2['cv_score'] >= 0.52]

    n_trees  cv_score
33       34      0.53
47       48      0.53
48       49      0.53
38       39      0.53
45       46      0.53
37       38      0.53
43       44      0.53
27       28      0.53
41       42      0.53
42       43      0.53
49       50      0.53
39       40      0.53
35       36      0.53
30       31      0.53
46       47      0.53
36       37      0.53
29       30      0.53
24       25      0.53
28       29      0.52
34       35      0.52
32       33      0.52
26       27      0.52
40       41      0.52
44       45      0.52
25       26      0.52
18       19      0.52
23       24      0.52
20       21      0.52
22       23      0.52
31       32      0.52
19       20      0.52
17       18      0.52